<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>uk.co.firsttable.open-cities</string>
	<key>category</key>
	<string>Web</string>
	<key>connections</key>
	<dict>
		<key>25255A27-2FDC-4DA1-9658-9B865516336E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88B00CEC-378C-4F07-9DC4-1579575E028F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8D837FFC-A477-4B85-B477-1ACFCF8902F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF1A2DC0-E5A0-47F0-930E-CD169FC58C60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Codex</string>
	<key>description</key>
	<string>Open First Table's newest Bristol, London, and Manchester listings.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open First Table Cities</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>firsttable</string>
				<key>subtext</key>
				<string>Open Bristol, London, and Manchester newest listings</string>
				<key>text</key>
				<string>Open First Table cities</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>25255A27-2FDC-4DA1-9658-9B865516336E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>url</key>
				<string>https://www.firsttable.co.uk/bristol?sort=NEWEST</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>88B00CEC-378C-4F07-9DC4-1579575E028F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>url</key>
				<string>https://www.firsttable.co.uk/london?sort=NEWEST</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8D837FFC-A477-4B85-B477-1ACFCF8902F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>url</key>
				<string>https://www.firsttable.co.uk/manchester?sort=NEWEST</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DF1A2DC0-E5A0-47F0-930E-CD169FC58C60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type “firsttable” in Alfred and press Return to open the newest First Table listings for Bristol, London, and Manchester.</string>
	<key>uidata</key>
	<dict>
		<key>25255A27-2FDC-4DA1-9658-9B865516336E</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>88B00CEC-378C-4F07-9DC4-1579575E028F</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>8D837FFC-A477-4B85-B477-1ACFCF8902F3</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>DF1A2DC0-E5A0-47F0-930E-CD169FC58C60</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://www.firsttable.co.uk/</string>
</dict>
</plist>
